.rej
.DS_Store
*.rej
*.orig
bin/
build/
.cache/
dist/
node_modules/
vuesax-laravel-starter/node_modules/
temp/
versions/
*.zip
/bin
npm-debug.log*
package-lock.json
docs/.vuepress/dist/
test/unit/coverage
yarn-debug.log*
yarn-error.log*
yarn.lock
yarn-error.log
vuexy-shell-scripts

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.env
